*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container{
    max-width: 600px;
    width: 100%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

li a{
    color: #a4a4a4;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

li a:hover{
    padding-bottom: 4px;
    border-bottom: 3px solid blueviolet;
}

.wrapper_tab-content{
    position: relative;
}

.tab-content{
    position: absolute;
    padding: 1.75em 0;
    height: 0;
    visibility: hidden;
}

.content-visible{
    position: static;
    visibility: inherit;
    height: auto;
}

.tab-content h1{
    font-size: 1.12em;
    margin-bottom: 0.5em;
}

.active{
    color: #444;
    padding: 4px;
    border-bottom: 3px solid blueviolet;
}